@model IEnumerable<MyRestaurant.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Category</h1>


<style>
table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
}
th, td {
  background-color:bisque;
}
body{
        
        background-image:url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
              
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.CategoryId">Details</a> 
               
                |
                <a class="btn btn-sm btn-warning" asp-area="User" asp-controller="MenuItems" 
                       asp-action="GetMenuItemOfCategory" 
                       asp-route-filterCategoryId="@item.CategoryId">View Menu Items</a>
            </td>

        </tr>
}
    </tbody>
</table>
<a class="btn btn-sm btn-danger text-white" asp-area="" asp-page="/Index">Back To Home</a>